# Generated manually for egpd package

# Dynamic library
useDynLib(egpd, .registration = TRUE)

# Rcpp imports
importFrom(Rcpp, sourceCpp)
importFrom(Rcpp, evalCpp)

# Standard package imports
import(stats)
import(graphics)
import(grDevices)
import(utils)

# Main fitting function
export(egpd)

# Univariate fitting
export(distfit)
export(fitegpd)   # deprecated alias for distfit
export(fit_aggregate_egpd)
export(fit_spliced_degpd)
export(gpig_control)
export(dgpois)
export(pgpois)
export(qgpois)
export(rgpois)
export(dgwaring)
export(pgwaring)
export(qgwaring)
export(rgwaring)
export(dpoislnorm)
export(ppoislnorm)
export(qpoislnorm)
export(rpoislnorm)

# Bivariate EGPD
export(rbegpd)
export(train_begpd)

# Bivariate Discrete EGPD [Experimental]
export(rbdegpd)
export(rbzidegpd)
export(train_bdegpd)

# Bivariate MDGPD (Aka-Kratz-Naveau) [Experimental]
export(rmdgpd)
export(rzimdgpd)
export(train_mdgpd)

# S3 methods for egpd (GAM fits)
S3method(fitted, egpd)
S3method(simulate, egpd)
S3method(logLik, egpd)
S3method(plot, egpd)
S3method(summary, egpd)
S3method(print, summary.egpd)
S3method(print, egpd)
S3method(predict, egpd)
S3method(nobs, egpd)
S3method(confint, egpd)
S3method(vcov, egpd)
S3method(rqresid, egpd)

# S3 methods for distfit (univariate/multivariate fits)
S3method(print, distfit)
S3method(summary, distfit)
S3method(print, summary.distfit)
S3method(plot, distfit)
S3method(coef, distfit)
S3method(vcov, distfit)
S3method(logLik, distfit)
S3method(nobs, distfit)
S3method(confint, distfit)
# deprecated shims for the former "fitegpd" class (legacy saved objects)
S3method(print, fitegpd)
S3method(summary, fitegpd)
S3method(print, summary.fitegpd)
S3method(plot, fitegpd)
S3method(coef, fitegpd)
S3method(vcov, fitegpd)
S3method(logLik, fitegpd)
S3method(nobs, fitegpd)
S3method(confint, fitegpd)
S3method(print, aggregate_egpd)
S3method(summary, aggregate_egpd)
S3method(print, summary.aggregate_egpd)
S3method(predict, aggregate_egpd)
S3method(plot, aggregate_egpd)
S3method(coef, aggregate_egpd)
S3method(print, spliced_degpd)
S3method(summary, spliced_degpd)
S3method(print, summary.spliced_degpd)
S3method(predict, spliced_degpd)

# Generic exports
export(rqresid)
export(predictive_coverage)
S3method(predictive_coverage, egpd)
S3method(predictive_coverage, gamlss)
S3method(predictive_coverage, bamlss)

# Helper exports
export(dfbind)
export(pinv)
export(ginv.egpd)
export(seq_between)

# Distribution function exports
export(p.G)
export(d.G)
export(q.G)
export(r.G)
export(pegpd)
export(degpd_density)
export(qegpd)
export(regpd)
export(pbgpd)
export(dbgpd)
export(qbgpd)
export(rbgpd)
export(pcomppareto)
export(dcomppareto)
export(qcomppareto)
export(rcomppareto)
export(ddiscegpd)
export(pdiscegpd)
export(qdiscegpd)
export(rdiscegpd)
export(dzidiscegpd)
export(pzidiscegpd)
export(qzidiscegpd)
export(rzidiscegpd)
export(dziegpd)
export(pziegpd)
export(qziegpd)
export(rziegpd)
export(dcpegpd)
export(pcpegpd)
export(qcpegpd)
export(rcpegpd)
export(dcpdegpd)
export(pcpdegpd)
export(qcpdegpd)
export(rcpdegpd)

# bamlss family constructors
export(egpd_bamlss)
export(ziegpd_bamlss)
export(degpd_bamlss)
export(zidegpd_bamlss)
export(pig_bamlss)
export(zipig_bamlss)
export(gpig_bamlss)
export(zigpig_bamlss)
export(dpig)
export(ppig)
export(qpig)
export(rpig)
export(dzipig)
export(pzipig)
export(qzipig)
export(rzipig)
export(PIG)
export(ZIPIG)

# GPIG (Zhu & Joe 2009) native (a,b,c) d/p/q/r
export(dgpig)
export(pgpig)
export(qgpig)
export(rgpig)
export(dzigpig)
export(pzigpig)
export(qzigpig)
export(rzigpig)

# GPIG gamlss family + mean-parameterisation d/p/q/r
export(GPIG)
export(ZIGPIG)
export(dGPIG)
export(pGPIG)
export(qGPIG)
export(rGPIG)
export(dZIGPIG)
export(pZIGPIG)
export(qZIGPIG)
export(rZIGPIG)

# Bell (Castellares et al. 2018) native (theta) d/p/q/r
export(dbell)
export(pbell)
export(qbell)
export(rbell)
export(dzibell)
export(pzibell)
export(qzibell)
export(rzibell)

# Bell gamlss family + mean-parameterisation d/p/q/r
export(BELL)
export(ZIBELL)
export(dBELL)
export(pBELL)
export(qBELL)
export(rBELL)
export(dZIBELL)
export(pZIBELL)
export(qZIBELL)
export(rZIBELL)

# Bell bamlss family constructors
export(bell_bamlss)
export(zibell_bamlss)

# gamlss family constructors
export(EGPD1)
export(EGPD3)
export(EGPD4)
export(EGPD5)
export(EGPD6)
export(DEGPD1)
export(DEGPD3)
export(DEGPD4)
export(DEGPD5)
export(DEGPD6)
export(ZIEGPD1)
export(ZIEGPD3)
export(ZIEGPD5)
export(ZIEGPD6)
export(ZIDEGPD1)
export(ZIDEGPD3)
export(ZIDEGPD5)
export(ZIDEGPD6)

# gamlss d/p/q/r wrappers: Continuous EGPD
export(dEGPD1)
export(pEGPD1)
export(qEGPD1)
export(rEGPD1)
export(dEGPD3)
export(pEGPD3)
export(qEGPD3)
export(rEGPD3)
export(dEGPD4)
export(pEGPD4)
export(qEGPD4)
export(rEGPD4)
export(dEGPD5)
export(pEGPD5)
export(qEGPD5)
export(rEGPD5)
export(dEGPD6)
export(pEGPD6)
export(qEGPD6)
export(rEGPD6)

# gamlss d/p/q/r wrappers: Discrete EGPD
export(dDEGPD1)
export(pDEGPD1)
export(qDEGPD1)
export(rDEGPD1)
export(dDEGPD3)
export(pDEGPD3)
export(qDEGPD3)
export(rDEGPD3)
export(dDEGPD4)
export(pDEGPD4)
export(qDEGPD4)
export(rDEGPD4)
export(dDEGPD5)
export(pDEGPD5)
export(qDEGPD5)
export(rDEGPD5)
export(dDEGPD6)
export(pDEGPD6)
export(qDEGPD6)
export(rDEGPD6)

# gamlss d/p/q/r wrappers: Zero-Inflated Continuous EGPD
export(dZIEGPD1)
export(pZIEGPD1)
export(qZIEGPD1)
export(rZIEGPD1)
export(dZIEGPD3)
export(pZIEGPD3)
export(qZIEGPD3)
export(rZIEGPD3)
export(dZIEGPD5)
export(pZIEGPD5)
export(qZIEGPD5)
export(rZIEGPD5)
export(dZIEGPD6)
export(pZIEGPD6)
export(qZIEGPD6)
export(rZIEGPD6)

# gamlss d/p/q/r wrappers: Zero-Inflated Discrete EGPD
export(dZIDEGPD1)
export(pZIDEGPD1)
export(qZIDEGPD1)
export(rZIDEGPD1)
export(dZIDEGPD3)
export(pZIDEGPD3)
export(qZIDEGPD3)
export(rZIDEGPD3)
export(dZIDEGPD5)
export(pZIDEGPD5)
export(qZIDEGPD5)
export(rZIDEGPD5)
export(dZIDEGPD6)
export(pZIDEGPD6)
export(qZIDEGPD6)
export(rZIDEGPD6)

# gamlss internal helpers (used by gamlss family function bodies)
export(.egpd_nd1)
export(.egpd_nd2)
export(.egpd_nd3)
export(.egpd_nd4)
export(.egpd_ad3)
export(.egpd_ad4)

# Deriv imports
importFrom(Deriv, Deriv)

# gamlss.dist imports
importFrom(gamlss.dist, checklink)
importFrom(gamlss.dist, PIG)
importFrom(gamlss.dist, ZIPIG)
export(fit_degpd_pot)
export(degpd_pot_stability)
