# Generated manually for egpd package

# Dynamic library
useDynLib(egpd, .registration = TRUE)

# Rcpp imports
importFrom(Rcpp, sourceCpp)
importFrom(Rcpp, evalCpp)

# Standard package imports
import(stats)
import(graphics)
import(grDevices)
import(utils)

# Main fitting function
export(egpd)

# Univariate fitting
export(fitegpd)

# S3 methods for egpd (GAM fits)
S3method(fitted, egpd)
S3method(simulate, egpd)
S3method(logLik, egpd)
S3method(plot, egpd)
S3method(summary, egpd)
S3method(print, summary.egpd)
S3method(print, egpd)
S3method(predict, egpd)
S3method(nobs, egpd)
S3method(confint, egpd)
S3method(vcov, egpd)
S3method(rqresid, egpd)

# S3 methods for fitegpd (univariate fits)
S3method(print, fitegpd)
S3method(summary, fitegpd)
S3method(print, summary.fitegpd)
S3method(plot, fitegpd)
S3method(coef, fitegpd)
S3method(vcov, fitegpd)
S3method(logLik, fitegpd)
S3method(nobs, fitegpd)
S3method(confint, fitegpd)

# Generic exports
export(rqresid)
export(predictive_coverage)
S3method(predictive_coverage, egpd)
S3method(predictive_coverage, gamlss)
S3method(predictive_coverage, bamlss)

# Helper exports
export(dfbind)
export(pinv)
export(ginv.egpd)
export(seq_between)

# Distribution function exports
export(p.G)
export(d.G)
export(q.G)
export(r.G)
export(pegpd)
export(degpd_density)
export(qegpd)
export(regpd)
export(ddiscegpd)
export(pdiscegpd)
export(qdiscegpd)
export(rdiscegpd)
export(dzidiscegpd)
export(pzidiscegpd)
export(qzidiscegpd)
export(rzidiscegpd)
export(dziegpd)
export(pziegpd)
export(qziegpd)
export(rziegpd)
export(dcpegpd)
export(pcpegpd)
export(qcpegpd)
export(rcpegpd)
export(dcpdegpd)
export(pcpdegpd)
export(qcpdegpd)
export(rcpdegpd)

# bamlss family constructors
export(egpd_bamlss)
export(ziegpd_bamlss)
export(degpd_bamlss)
export(zidegpd_bamlss)

# gamlss family constructors
export(EGPD1)
export(EGPD3)
export(EGPD4)
export(EGPD5)
export(EGPD6)
export(DEGPD1)
export(DEGPD3)
export(DEGPD4)
export(DEGPD5)
export(DEGPD6)
export(ZIEGPD1)
export(ZIEGPD3)
export(ZIEGPD5)
export(ZIEGPD6)
export(ZIDEGPD1)
export(ZIDEGPD3)
export(ZIDEGPD5)
export(ZIDEGPD6)

# gamlss d/p/q/r wrappers: Continuous EGPD
export(dEGPD1)
export(pEGPD1)
export(qEGPD1)
export(rEGPD1)
export(dEGPD3)
export(pEGPD3)
export(qEGPD3)
export(rEGPD3)
export(dEGPD4)
export(pEGPD4)
export(qEGPD4)
export(rEGPD4)
export(dEGPD5)
export(pEGPD5)
export(qEGPD5)
export(rEGPD5)
export(dEGPD6)
export(pEGPD6)
export(qEGPD6)
export(rEGPD6)

# gamlss d/p/q/r wrappers: Discrete EGPD
export(dDEGPD1)
export(pDEGPD1)
export(qDEGPD1)
export(rDEGPD1)
export(dDEGPD3)
export(pDEGPD3)
export(qDEGPD3)
export(rDEGPD3)
export(dDEGPD4)
export(pDEGPD4)
export(qDEGPD4)
export(rDEGPD4)
export(dDEGPD5)
export(pDEGPD5)
export(qDEGPD5)
export(rDEGPD5)
export(dDEGPD6)
export(pDEGPD6)
export(qDEGPD6)
export(rDEGPD6)

# gamlss d/p/q/r wrappers: Zero-Inflated Continuous EGPD
export(dZIEGPD1)
export(pZIEGPD1)
export(qZIEGPD1)
export(rZIEGPD1)
export(dZIEGPD3)
export(pZIEGPD3)
export(qZIEGPD3)
export(rZIEGPD3)
export(dZIEGPD5)
export(pZIEGPD5)
export(qZIEGPD5)
export(rZIEGPD5)
export(dZIEGPD6)
export(pZIEGPD6)
export(qZIEGPD6)
export(rZIEGPD6)

# gamlss d/p/q/r wrappers: Zero-Inflated Discrete EGPD
export(dZIDEGPD1)
export(pZIDEGPD1)
export(qZIDEGPD1)
export(rZIDEGPD1)
export(dZIDEGPD3)
export(pZIDEGPD3)
export(qZIDEGPD3)
export(rZIDEGPD3)
export(dZIDEGPD5)
export(pZIDEGPD5)
export(qZIDEGPD5)
export(rZIDEGPD5)
export(dZIDEGPD6)
export(pZIDEGPD6)
export(qZIDEGPD6)
export(rZIDEGPD6)

# gamlss internal helpers (used by gamlss family function bodies)
export(.egpd_nd3)
export(.egpd_nd4)
export(.egpd_ad3)
export(.egpd_ad4)

# Deriv imports
importFrom(Deriv, Deriv)

# gamlss.dist imports
importFrom(gamlss.dist, checklink)
